<div class="preamble">
<nav>
    <a href="index.html" class="preamble-title">Nick Savage</a> <br />
    <br />
    <a href="index.html">About</a> - 
    <a href="projects.html">Projects</a> - 
    <a href="cv.html">CV</a>
</nav>
</div>
