.status {
  /* float: left; */
  
  top: 0;
  left: 0;
  /* width: 60% */
  background: lightblue;
  /* margin: 30px auto 30px auto; */
  /* width: 900px; */
  text-align: center;
  border: 1px solid gray;
}

.postamble {
    /* float: right; */
    /* width: 30%; */
    width: 60%;
}
.content {
    margin: 30px auto 30px auto;
    width: 50%;
    /* text-align: center; */
}
/* .content { */
/*     display: inline-block; */
/*     margin: auto; */
/*     /\* margin-right: -50%; *\/ */
/*     /\* margin: auto; *\/ */
/*     width: 60%; */
/* } */

.preamble-title {
    font-size: 150%;
}

body {
    /* background: #bdcebe; */
    font-family: Arial;
}

.org-svg {
    width: 10%
}

a {
    text-decoration: none;
}

/* div { */
/*     border: 1px solid gray; */
/* } */

p, h5 {
    padding: 0;
    margin: 0;
}
